{%  extends "base.html" %}
{% block content %}
<div class="container">
    <form method="post" action="/">
        <p>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Gruppennamen eingeben" id="gruppenname" name="gruppenname" required>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Saufname eingeben" id="user_name" name="user_name" required>
            </div>

            <div style="text-align:center;">
                <a><input type="submit" class="btn btn-secondary" value="Speichern"></a>
            </div>
        </p>
    </form>
</div>
{% endblock %}