{%  extends "base.html" %}
{% block content %}
<p class="container">
    <div class="page-header">
        <h1>Berlin</h1>
    </div>
<div class="active">
    Es haben noch nicht alle Teilnehmer abgestimmt!
</div>
    <!-- Todo DB Abfrage noch einbauen -->
    <!-- Todo Abstimmen welche Form am schönsten ist -->
    <div class="card text-white bg-success">
    <h4 class="card-title">KW</h4>
</div>
<div class="container">
    <h5>KW <span class="badge badge-pill badge-success">Abgestimmt</span> </h5>
</div>

    <p class="text-success">KW</p>

    <div style="text-align:center;">
    <a type="button" class="btn btn-secondary" href="/"> Back</a>
    </div>

{% endblock %}