{%  extends "base.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{{ event_name[0] }}</h1>
    </div>

    {% for i in range(amount_of_user) %}
        <p>{{ event_users[i] }}</p>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ (votes[i]*100)/amount_of_user }}%" aria-valuenow={{ (votes[i]*100)/amount_of_user }} aria-valuemin="0" aria-valuemax="100">{{ votes[i] }} Votes</div>
        </div>
    {% endfor %}

    </div>

    {% if ownVote==1 %}
        <p> Sauber Burschi</p>
        <div style="text-align:center;">
        <!-- TODO Button Schlücke verteilen nur anzeigen wenn wirklich Schlücke verteilt werden-->
        <a  type="button" class="btn btn-secondary" href={{ link }}> Schlücke verteilen</a>
        </div>
    {% else %}
        <p> Du hast sauber daneben glangt. </p>
        <div style="text-align:center;">
        <!-- TODO Button Schlücke verteilen nur anzeigen wenn wirklich Schlücke verteilt werden-->
        <a  type="button" class="btn btn-secondary" href="/"> Zruck</a>
        </div>
    {% endif %}

{% endblock %}