{%  extends "base.html" %}
{% block content %}
<p class="container">
    <div class="page-header">
        <h1>{{ event_name[0] }}</h1>
    </div>
<div class="active">
    Es haben noch nicht alle Teilnehmer abgestimmt!
</div>

    {% for i in range(amount_of_user) %}
        <div class="container">
            <h5> {{ event_users[i] }}
                {% if checkVoteList[i] == 1 %}
                    <span class="badge badge-pill badge-success">Abgestimmt</span>
                {% else %}
                    <span class="badge badge-pill badge-danger">Is noch zu besoffen</span>
                {% endif %}</h5>
        </div>
    {% endfor %}

    <div style="text-align:center;">
    <a type="button" class="btn btn-secondary" href="/"> Back</a>
    </div>

{% endblock %}