{%  extends "base.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Berlin</h1>
    </div>
<div class="active">
    Wen wählst du beim Hackedichtpokal?
</div>
    <div class="btn-group-vertical btn-group-toogle btn-block" data-toggle="buttons">
        <label class="btn btn-primary btn-block">
            <input type="radio" name="options" id="spritti_1" autocomplete="off"> KW 1.0
        </label>
        <label class="btn btn-primary btn-block">
            <input type="radio" name="options" id="spritti_2" autocomplete="off"> WWF 1.0
        </label>
        <label class="btn btn-primary btn-block">
            <input type="radio" name="options" id="spritti_3" autocomplete="off"> Lobin 3.0
        </label>
    </div>
    <div style="text-align:center;">
    <a type="button" class="btn btn-secondary" href="/"> Save</a>
    <div>
</div>
{% endblock %}