{%  extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1> {{ event_name[0] }}</h1>
    </div>
<div class="active">
    Wen wählst du beim Hackedichtpokal?
</div>
<form method="post" action="/">
<p>
    <div class="btn-group-vertical btn-group-toogle btn-block" data-toggle="buttons">
        {% for i in range(amount_of_user) %}
        <label class="btn btn-primary btn-block">
            <input type="radio" name="vote" id= "{{ user_id[i] }}" value= "{{ user_id[i] }}" autocomplete="off">  {{ event_users[i] }}
        </label>
        {% endfor %}
    </div>
<div style="text-align:center;">
    <a><input type="submit" class="btn btn-secondary" value="Next"></a>
</div>
</p>
</form>
</div>
{% endblock %}