{%  extends "base.html" %}

{% block content %}
    <div class="list-group-item">
<div class="card border-info border-block mb-3">
<a href="/event" class="list-group-item-action flex-column align-items-start active">
  <div class="card-header">Berlin</div>
  <div class="card-body">
    <p class="card-text">Keine Ahnung was hier steht</p>
  </div>
</a>
</div>
</div>

<div class="list-group">
<div class="card border-info border-block mb-3">
    <a href="/event" class="list-group-item-action flex-column align-items-start active">
  <div class="card-body">
      <h4> Prag</h4>
    <p class="card-text">Aktuelle oder bevorstehende Aktionen in blau</p>
  </div>

        </a>
</div>
    </div>


<div class="card border-light border-block mb-3">
    <a href="/event" class="card-item-action flex-column align-items-start active">
  <div class="card-header">Brombachsee</div>
  <div class="card-body">
    <p class="card-text">Vergangene Aktion in dem grau</p>
  </div>
    </a>
</div>
{% endblock %}
